:root {
    --primary-color: #ffa500ff;
}

body.theme-red {
    --primary-color: #ff5f57;
}

body.theme-orange {
    --primary-color: #ffa500ff;
}

body.theme-green {
    --primary-color: #28c840;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
    margin: 0;
}

.calculator {
    background: #333333;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.window-buttons {
    display: flex;
    gap: 6px;
    padding: 8px 10px;
    background: #444444;
}
.window-buttons span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.red {
    background-color: #ff5f57;
}

.orange {
    background-color: #ffa500ff;
}

.green {
    background-color: #28c840;
}


.display {
    background: #444444;
    color: white;
    font-size: 48px;
    text-align: right;
    padding: 20px;
    min-width: 280px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    padding: 20px;
    font-size: 24px;
    border: 1px solid #555555;
    background: #666666;
    color: white;
    cursor: pointer;
    transition: background 0.2s ease;
}

.btn:hover {
    background: #777777;
}

.btn.operator,
.btn.equal {
    color: white;
    background-color: var(--primary-color);
}

.btn.wide {
    grid-column: span 2;
}
